<div class="col-xs-12" style="height:50px;"></div>

<div style="margin-bottom:-20px;"><h5>
  <!-- <a href="#" class="btn btn-sm btn-default navbutton seethrough" id="searchnav" data-toggle="modal" data-target="#searchModal">Search</a> -->
  <a href="club" class="btn btn-sm btn-default navbutton seethrough" id="searchnav">Search</a><a href="#" class="btn btn-sm btn-default navbutton seethrough" id="helpnav" data-toggle="modal" data-target="#helpModal">Help</a><a href="#" class="btn btn-sm btn-default navbutton seethrough" id="contactnav" data-toggle="modal" data-target="#contactModal">Contact</a><a href="/" class="btn btn-sm btn-primary seethrough" id="welcomenav">Logout</a>
  </h5>
</div>