<!doctype html>

<html>
<head>
	<title>Club Triton</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<link href="css/introHCI.css" rel="stylesheet">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="js/clubtriton.js"></script>

    <script>
function goBack() {
    window.history.back()
}
</script>

</head>

<body>
<div class="bg-style">

	<h5>
  <a href="#" class="btn btn-sm btn-default navbutton" id="searchnav" data-toggle="modal" data-target="#searchModal">Search</a><a href="#" class="btn btn-sm btn-default navbutton" id="helpnav" data-toggle="modal" data-target="#helpModal">Help</a><a href="#" class="btn btn-sm btn-default navbutton" id="contactnav" data-toggle="modal" data-target="#contactModal">Contact</a><a href="#" class="btn btn-sm btn-primary" id="welcomenav">Login</a>
  </h5>

<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
      </div>

      <div class="modal-body">

        <form class="form-horizontal" id="contact-form-modal" role="form" method="post" action="/contact">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
              <input type="email" class="form-control" id="email" name="email" placeholder="youremail@domain.com" value="">
              </div>
          </div>

          <div class="form-group">
            <label for="message" class="col-sm-2 control-label">Message</label>
              <div class="col-sm-10">
              <textarea class="form-control" rows="3" id="message" name="message" placeholder="Enter your message here..." ></textarea>
              </div>
          </div>
  

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" value="submit" id="submit" class="btn btn-primary">Send</button>
      </div>

    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ClubTriton FAQ</h4>
      </div>

      <div class="modal-body">
        <h2>Heading 1</h2>
        <h5>Club Triton is your one-stop site to finding everything you need to know about all the ways to get involved here at UC San Diego. Get information on clubs and organizations here on campus, connect with fellow members, be notified on upcoming meetings and events, and find a club that's right for you! </h5>

         <h2>Heading 1</h2>
        <h5>Lorem ipsumfasf fsf safasfsaff sfsafsfaf asfasfsfsf asfas f</h5>
         <h2>Heading 1</h2>
        <h5>Lorem ipsumfasf fsf safasfsaff sfsafsfaf asfasfsfsf asfas f</h5>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Searching Club Directory...</h4>
      </div>

      <div class="modal-body">
        <form class="form-horizontal" method="post" action="/search">
          <div class="form-group">
            <div class="col-sm-10">
            <input type="text" class="form-control" id="searchinput" name="searchinput" placeholder="Enter your search..." value="">
            </div>
          </div>
	   
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
</form>
    </div>
  </div>
</div>

<div> 
	{{{body}}} 
</div>

</div>
</body>
</html>
