<div class="container">
	<h1>Clubs</h1>

	{{#each friends}}

	<div class="myfriend">

	<img src="{{imageURL}}" class="img-responsive img-rounded"/>
	<div><a href="/project/{{link}}"><h3>{{name}}</h3></a></div>
	<p>{{description}}</p>
	<hr>

	{{/each}}

</div>
