<center>
        <div class="jumbotron">

        <center>
          <div style="margin-top:-25px;">
            <h2>[UCSD:involved]</h2>
            <div style="font-size:13px;">((Getting Involved Made Easy))</div>
          </div>
        </center>

        </div>

      <div class="col-xs-12" style="height:20px;"></div>


    <div class="container-fluid">
      <div class="row">
        <div class = "col-xs-6">
          <div class="project" id="project3">
            <a href="my" class="thumbnail seethroughicons shadows">
              <img src="images/icons/myclubs.png" alt="My Clubs" class="img"/>
            </a>
          </div>
          </div>
<!--         <div class = "col-xs-4">
          <div class="project" id="project4">
            <a href="myevent" class="thumbnail">
              <img src="images/icons/myevents.jpg" alt="UCSD Events" class="img"/>
              </a>
            </div>
          </div> -->
          <div class = "col-xs-6">
          <div class="project" id="project3">
            <a href="club" class="thumbnail seethroughicons shadows">
              <img src="images/icons/clubdirec.png" alt="Club Directory" class="img"/>
            </a>
          </div>
        </div>
        </div>
    </div>

           <div class="col-xs-12" style="height:20px;"></div>

      <div class="container-fluid">
      <div class= "row">
        <div class = "col-xs-2"></div>
        <div class = "col-xs-8">
          <div class="project" id="project4">
            <a href="match" class="thumbnail seethroughicons shadows">
            <img src="images/icons/explore.png" alt="Explore" class="img"/>
            </a>
          </div>
        </div>
        <div class="col-xs-2"><a href="#"  style="color:black;" data-toggle="modal" data-target="#helpModal"><i class="fa fa-question-circle fa-2x" style="margin-left:-10px;margin-top:15px;"></i></a></div>
      </div>
    </div>
</center>

{{> navbar}}



