<center>

  <div style="width:278px;">
<!-- <a href="/home" id="homebutton" class="btn btn-default" style="margin-left:-15px;margin-bottom:10px;width:75px;"><i class="fa fa-home"></i></a> -->

<a href="#" id="profilebutton" class="btn btn-default shadows" style="margin-left:202px;width:75px;"><i class="fa fa-user" style="margin-left:2px;"></i></a>

</div>
        <div class="jumbotron">

        <center>
          <div style="margin-top:-120px;margin-left:-180px;">
            <h4> <img src="images/icons/logo.png" style="width:30%;" alt="ucsdinvolved" class="img seethrough2"/></h4>
          </div>
        </center>

        </div>

      <div class="col-xs-12" style="margin-top:-90px;margin-bottom:10px;color:white;background-color:rgba(0,0,0,0.4);"><h4>Welcome, User!</h4></div>

    <div class="container-fluid" style="margin-top:-25px;">
      <div class="row">
        <div class = "col-xs-6">
          <div class="project" id="project3">
            <a href="my" class="thumbnail seethroughicons shadows">
              <img src="images/icons/myclubs.png" alt="My Clubs" class="img"/>
            </a>
          </div>
          </div>
<!--         <div class = "col-xs-4">
          <div class="project" id="project4">
            <a href="myevent" class="thumbnail">
              <img src="images/icons/myevents.jpg" alt="UCSD Events" class="img"/>
              </a>
            </div>
          </div> -->
          <div class = "col-xs-6">
          <div class="project" id="project3">
            <a href="club" class="thumbnail seethroughicons shadows">
              <img src="images/icons/clubdirec.png" alt="Club Directory" class="img"/>
            </a>
          </div>
        </div>
        </div>
    </div>

           <div class="col-xs-12" style="height:10px;"></div>

      <div class="container-fluid" style="margin-bottom:-10px;">
      <div class= "row">
        <div class = "col-xs-2"></div>
        <div class = "col-xs-8">
          <div class="project" id="project4">
            <a href="match" class="thumbnail seethroughicons shadows">
            <img src="images/icons/explore.png" alt="Explore" class="img"/>
            </a>
          </div>
        </div>
        <div class="col-xs-2"><a href="#"  style="color:black;" data-toggle="modal" data-target="#helpModal"><i class="fa fa-question-circle fa-2x" style="margin-left:-10px;margin-top:15px;"></i></a></div>
      </div>
    </div>
</center>

{{> navbar}}



