<div style='text-align:center'>
    
    <div class="jumbotron" id="smallerjumbo">
      <div id="backbutton"><<</div>
      <h1>Club Triton</h1>
      <h5>((Getting Involved Made Easy)){{message}}</h5>
    </div>

    <div class="container-fluid">
      <div class= "row">
        <div class = "col-xs-6">
          <div class="project" id="project3">
            <a href="my" class="thumbnail">
              <img src="images/icons/myclubs.jpg" alt="UCSD library" class="img"/>
            </a>
          </div>
          </div>
        <div class = "col-xs-6">
          <div class="project" id="project4">
            <a href="myevent" class="thumbnail">
              <img src="images/icons/myevents.jpg" alt="UCSD Events" class="img"/>
              </a>
            </div>
          </div>
        </div>
    </div>
    <div class="container-fluid">
      <div class= "row">
        <div class = "col-xs-6">
          <div class="project" id="project3">
            <a href="club" class="thumbnail">
              <img src="images/icons/clubslist.jpg" alt="Library walk" class="img"/>
            </a>
          </div>
        </div>
        <div class = "col-xs-6">
          <div class="project" id="project4">
            <a href="match" class="thumbnail">
            <img src="images/icons/matchme.jpg" alt="Match" class="img"/>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>

