<div> 
	<container>
          <center><div><a href="#" style="color:black;opacity:0.5;">Sign up</a> &middot <a href="#" style="color:black;opacity:0.5;">Forgot password?</a></div></center>

    <center>
      <div class="jumbotron" id="smallerjumbo" style="margin-bottom:55px;">
        <h5>Welcome to...</h5>
    <h1>UCSD:involved</h1>
    </div>
   <!--  <h3 id="loginheader">Login</h3> -->
  </center>
    <form class="form-horizontal" id="loginform" role="form" method="post" action="/login">

          <div class="input-group margin-bottom-sm" style="margin-top:20px;">
              <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
              <input class="form-control" type="text" id="username" placeholder="Username">
          </div>
          <div class="input-group" style="margin-top:20px;">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input class="form-control" type="password" id="userpassword" placeholder="Password">
          </div>

          <center>
          <a href="/home"><button type="button" style="margin-top:20px;width:100%;" id="sendlogin" class="btn btn-primary" >Log Me In!</button></a>

          </center>

        </form> 

      </container>
      <container>
          <div class="col-xs-12" style="margin-top:20px;"></div>
      </container>
</div>