<div> 
	<container>
    <center>
      <div class="jumbotron" id="smallerjumbo">
        <h5>Welcome to...</h5>
    <h1>Club Triton</h1>
    </div><h3 id="loginheader">Login</h3>
  </center>
    <form class="form-horizontal" id="loginform" role="form" method="post" action="/login">
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="">
            </div>
          </div>

          <div class="form-group">
            <label for="userpassword" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
              <input type="password" class="form-control" id="userpassword" name="userpassword" placeholder="Password" value="">
              </div>
          </div>

          <center>
          <a href="/home"><button type="button" style="width:100%;" id="sendlogin" class="btn btn-primary" >Log Me In!</button></a>

          <div style="height:20px;"></div><div><a href="#">Sign up</a> &middot <a href="#">Forgot password?</a></div>
          </center>

        </form> 

      </container>
</div>