<div class="container-fluid">
<div onclick="goBack()" id="backbutton" style="margin-top:-10px;margin-bottom:10px"><<</div>
<div style="height:10px;"></div>
<div class="container1">
	<div class="col-xs-12"><h1 style="text-align:left;margin-top:-17px;margin-left:28px;">Match!</h1></div></div>
	<center><h5>- - - - - - - - - - - -</h5></center>

	<hr>

	<center><h5>Choose one or more interests...</h5></center>

<div class="container-fluid clusters" id="toplevel">
	<div class="col-xs-6">
	<button id="option1" class="blue-pill">Option1</button></div>
	<div class="col-xs-6">
	<button id="option2" class="blue-pill">Option2</button></div>

	<hr>
	<hr>
	<div class="col-xs-6">
	<button class="blue-pill">Option3</button></div>

	<div class="col-xs-6">
	<button class="blue-pill">Option4</button></div>
</div>

<div class="container-fluid clusters" id="hiding" style="display:none;">
	<div class="col-xs-6">
	<button id="secondlevclass" class="blue-pill secondlevclass">Option5</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">Option6</button></div>

	<hr>
	<hr>
	<div class="col-xs-6">
	<button id="backbutton25" class="blue-pill backbutton25">Back</button></div>

	<div class="col-xs-6">
	<button class="blue-pill">Option8</button></div>
</div>

<div class="container-fluid clusters" id="thirdlevel" style="display:none;">
	<div class="col-xs-6">
	<button id="thirdlay" class="blue-pill">Option1</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">Option2</button></div>

	<hr>
	<hr>
	<div class="col-xs-6">
	<button class="blue-pill">Option3</button></div>

	<div class="col-xs-6">
	<button class="blue-pill">Option4</button></div>
</div>

<div class="container-fluid clusters" id="clublayer">
	
</div>

	<!-- {{#each friends}}

	<div class="myfriend container1">
	<div class="col-xs-12">
	<center><img src="{{imageURL}}" class="img-responsive img-rounded"/></center></div>
	<div class="col-xs-12 spacer"></div>
	<div class="descripdiv"><div class="projectlink"><a href="/project/{{link}}"><h3>{{name}}</h3></a></div>
	<center><p>{{description}}</p></center></div>
	</div>
		<center><h5>- - - - - - - - - - - -</h5></center>

	{{/each}}

	<center><h3><a href="#" style="color:white;background-color:black;">Back to Top</a></h3></center> -->

</div>
