<div class="container-fluid">
<div onclick="goBack()" id="backbutton" style="margin-top:-10px;margin-bottom:10px"><<</div>
<div style="height:10px;"></div>
<div class="container1">
  <div class="col-xs-12"><h1 style="text-align:left;margin-top:-17px;margin-left:28px;">My Clubs</h1></div></div>
  <center><h5>- - - - - - - - - - - -</h5></center>

  {{#each myfriends}}

  <div class="myfriend container1">
  <div class="col-xs-12">
  <center><img src="{{imageURL}}" class="img-responsive img-rounded"/></center></div>
  <div class="col-xs-12 spacer"></div>
  <div class="descripdiv"><div class="projectlink"><a href="/project/{{link}}"><h3>{{name}}</h3></a></div>
  <center><p>{{description}}</p></center></div>
  </div>
    <button class="col-xs-12 btn btn-default">REMOVE FROM LIST</button>
    <center><h5>- - - - - - - - - - - -</h5></center>

  {{/each}}

  <center><h3><a href="#" style="color:white;background-color:black;">Back to Top</a></h3></center>

</div>
