<div class="container">

	<h1>My Events</h1>

	{{#each friends}}
	<div class="myfriend">

	<img src="{{imageURL}}" class="img-responsive img-rounded"/>
	<div class="nameselection"><a href="#"><h3>{{name}}</h3></a></div>
	<p>{{description}}</p>
	<hr>
  <div>{{idnum}}</div>
	</div>
	{{/each}}

	
</div>


