body {
     border: 1px dotted gray;
     padding: 20px;
/*     background-color:#E4E2E4;*/
  background-color:#84adff;
}

.descripdiv {
  max-width:100%;
  width:100%;
  margin-top:20px;

}
.spacer {
  height:20px;
}

.striped:nth-child(odd) {
  background-color:rgba(0, 0, 0, 0.04);
}

.striped:nth-child(even) {
  background-color:rgba(0, 0, 0, 0.08);

}


#chooseone {

}

#chooseclub {
  background-color:rgba(0,0,0,0.4);
  color:white;

}

.namestripe {
  background-color:rgba(0, 0, 0, 0.7);
  color:white;
  margin-top:2px;
  margin-bottom:7px;
  padding-top:9px;
  padding-bottom:9px;
}

.officerstripe {
  background-color:rgba(0, 0, 0, 0.4);
  color:white;
  padding-top:4px;
  padding-bottom:2px;
}

.projectlink {

}

.seethrough {
  opacity:0.9;
}
.bg-style {
  background: url("../images/bg.png");
  background-repeat: repeat;
  background-position: center;

}

.descriptiontext {
  font-size:12px;
  background-color:rgba(0,0,0,0.5);
  color:white;
  padding-bottom:7px;
  padding-left:7px;
  padding-right:7px;
  width:248px;
}

.descriptiontext2 {
  font-size:12px;
  background-color:rgba(0,0,0,0.5);
  color:white;
  padding-top:7px;
  padding-bottom:7px;
  padding-left:5px;
  padding-right:5px;
  width:248px;
  margin-left:-15px;
  margin-top:-10px;
  margin-bottom:15px;

}

.jumbotron {
	position: relative;
	background: none;
  height:50px;

}

.jumbotron:after {
     content:"";
/*     background: url("../images/TritonStatue.jpg");
     background-repeat: no-repeat;
     background-position: center;*/
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     height:50px;
}

.project a {
     text-align: center;
}


.container {
 position: relative;
 height: auto;
 width: 900px;
 margin: 0 auto;
}

.container img {
    height: 300px ;
    width: auto;
}

.container1 {
 position: relative;
 height: auto;
 width: 100%;
 margin: 0 auto;
}

.container1 img {
    height: auto;
    width: 100%;
    margin-left:-30px;
    margin-right:-30px;
}

.icon-block {
    text-align: left !important;
}

.icon-text {
    text-align: left !important;
    display: inline;
}


#searchnav {
    width:21%;
    margin-top:-35px;
}

#helpnav {
    width:16%;
    margin-top:-35px;

}
#contactnav {

    width:22%;
    margin-top:-35px;
}

#welcomenav {
    width:41%;
    margin-top:-35px;
}


#loginheader {
/*  background-color:#DBDBDB;*/
  margin-top:-20px;

}
#username:focus {
  background:#DCEAF7;
  color:black;
}

#userpassword:focus {
  background:#DCEAF7;
  color:black;
}

#homebutton {
  font-size:30px;
  opacity:0.4;
  z-index:10;
  color:black;

}

#profilebutton {
  font-size:30px;
  opacity:0.4;
  z-index:11;
  color:black;

}

#backbutton {
  position:absolute;
  margin-top:20px;
  font-size:30px;
  background-color:black;
  color:white;
  opacity:0.4;
  z-index:10;

}

#backbutton:hover {
  opacity:1.0;
}

#backbutton1 {
  position:absolute;
  margin-top:-37px;
  font-size:20px;
  background-color:black;
  color:white;
  opacity:0.4;
  z-index:10;

}

#backbutton1:hover {
  opacity:1.0;
}

#BackToTop {
  color:black;
  border:1px black;
}

.img-responsive {  display: block;  height: auto;  max-width: 358px; }
/*img { width: 100%; }*/
